<div class="row col-md-12">
  <div class="row">

    <form
      [formGroup]="addRecordFormGroup"
      (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div>
          <h3>Input observed data</h3>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="cityNameInput">Enter city name</label>
          </div>
          <div class="col-md-8">
            <input type="text"
                   class="form-control"
                   id="cityNameInput"
                   formControlName="cityNameInput">
            <div *ngIf="this.cityNameForm.invalid && this.cityNameForm.touched">
              <div *ngIf="this.cityNameForm.errors && this.cityNameForm.errors['required']">
                <p>City name is required</p>
              </div>
              <div *ngIf="this.cityNameForm.errors && this.cityNameForm.errors['minlength'], let minlen">
                <p>City name must be at least {{ minlen.requiredLength }} characters</p>
              </div>
              <div *ngIf="this.cityNameForm.errors && this.cityNameForm.errors['maxlength'], let maxlen">
                <p>City name must be at most {{ maxlen.requiredLength }} characters</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="padding-top: 8px">
          <div class="col-md-4">
            <label for="temperatureInput">Enter temperature</label>
          </div>
          <div class="col-md-8">
            <input type="number"
                   class="form-control"
                   id="temperatureInput"
                   formControlName="temperatureInput">

            <div *ngIf="this.temperatureForm.invalid && this.temperatureForm.touched">
              <div *ngIf="this.temperatureForm.errors && this.temperatureForm.errors['required']">
                <p>Temperature value is required</p>
              </div>
              <div *ngIf="this.temperatureForm.errors && this.temperatureForm.errors['min'], let minVal">
                <p>Max allowed temperature value is {{ minVal.min }}</p>
              </div>
              <div *ngIf="this.temperatureForm.errors && this.temperatureForm.errors['max'], let maxVal">
                <p>Min allowed temperature value is  {{ maxVal.max }}</p>
              </div>
            </div>


          </div>
        </div>
        <div style="text-align: right; padding: 15px 30px 0 0">
          <button
            class="btn btn-success btn-block"
            type="submit"
            [disabled]="!addRecordFormGroup.valid">
            Add new record
          </button>
        </div>
      </div>
    </form>

    <div class="row" style="margin-top: 60px">
      <div class="row">
        <div class="col-md-8">
          <h3>Show temperatures</h3>
        </div>
        <div class="col-md-4" style="text-align: right">
          <button class="btn btn-primary"
          (click)="goToList()">Go to data</button>
        </div>
      </div>
    </div>

  </div>
</div>

