<div class="container">
  <div class="row" style="margin-top: 40px">
    <div class="col-lg-3"></div>

    <div class="col-lg-6">
      <div style="text-align: center">
        <h1>Enamor recruitment task</h1>
      </div>
      <div class="row col-md-12" style="margin-top: 30px">
        <div style="margin-top: 40px;">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

  </div>
</div>
