<div
  *ngIf="this.isDataReady"
  class="row">
  <div
    *ngFor="let countryAvgDto of this.countryWithCitiesAvgs.countryAvgByDateList"
    class="col-md-12">
    <div class="row">
      <div class="col-sm-6">
        <h4>Date:</h4>
      </div>
      <div class="col-sm-6" style="text-align: right">
        <h4>{{countryAvgDto.day}}</h4>
      </div>
    </div>


    <div
      *ngIf="this.isDataReady"
      class="row">
      <div class="row">
        <div class="col-sm-3"><h5>City</h5></div>
        <div class="col-sm-3" style="text-align: center"><h5>Daytime</h5></div>
        <div class="col-sm-3" style="text-align: center"><h5>Night</h5></div>
        <div class="col-sm-3" style="text-align: center"><h5>Whole day</h5></div>
      </div>
      <div
        *ngFor="let record of this.countryWithCitiesAvgs.citiesAvgList"
        class="col-md-12">
        <div class="row"
             *ngIf="record.day === countryAvgDto.day">
          <div class="col-sm-3">
            <h6>{{record.city}}</h6>
          </div>
          <div class="col-sm-3" style="text-align: center">
            {{record.daytimeAvg}}
          </div>
          <div class="col-sm-3" style="text-align: center">
            {{record.nightAvg}}
          </div>
          <div class="col-sm-3" style="text-align: center">
            {{record.fullDayAvg}}
          </div>
        </div>
      </div>
    </div>




  <div class="row">
    <div class="col-sm-9">
      <h4>Country Average:</h4>
    </div>
    <div class="col-sm-3" style="text-align: right">
      <h4>{{countryAvgDto.avgTemperature}}</h4>
    </div>
  </div>
  <hr>
</div>
</div>
